* {margin: 0; padding: 0;}

.project-name {
    margin: 20px auto;
    text-align: center;
}

.index-links {
    margin: 0 auto;
    text-align: center;
}

.index-links a {
    display: block;
}

.m-t-20 {
    margin-top: 20px;
}

.underlined {
    text-decoration: underline;
}

.bm-5 {
    display: inline-block;
    margin-bottom: 2px;
}

.module-tree-container {
    padding-top: 100px;
}

.modules {
    margin-left: 15px;
}

.module-name {
    font-weight: normal;
}

.details-tree {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px 10px 2px 10px;
}

.details-list {
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    padding: 20px 10px 10px 10px;
    margin-bottom: 25px;
    max-width: 600px;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    text-align: center;
}

summary:target {
   background-color: #ffa;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.tree {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  width: 100%;
  margin: 50px auto 80px auto;
}

.tree ul {
    padding-top: 20px; position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

    list-style-type:none;
    display:flex;
    justify-content: center;
}

.tree li {
    float: left;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

/*.tree li a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}*/

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/*.tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}*/
/*Connector styles on hover*/
/*.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}*/