<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Docs</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<div class="tree">
		{% for assignment in assignments %}
			<ul>
				<li>
			    	<a href='#{{assignment.name}}'>{{assignment.name}}</a>
			    	<ul>
			    		{% for child in assignment.children %}
		                  <li><a href='#{{child.mod}}'>{{child.mod}}</a></li>
		                {% endfor %}
	                </ul>
		        </li>
		    </ul>
		{% endfor %}
	</div>

	<div class="modules">
	    {% for obj in objects %}
		    <details open>
		        <summary id="{{ obj.name }}">{{ obj.name }}</summary>
	    		{% if obj.funcs | length > 0 %}
	        		{% for func_info in obj.funcs %}
	        			<span class="bm-5">{{ func_info.name }}</span>
	        			<a href="{{func_info.path}}#{{func_info.line}}">⇒</a>
	        			<br>
	        		{% endfor %}
	    		{% endif %}
	    		{% if obj.methods | length > 0 %}
	        		{% for func_info in obj.methods %}
	        			<span class="bm-5 underlined">{{ func_info.name }}</span>
	        			<a href="{{func_info.path}}#{{func_info.line}}">⇒</a>
	        			<br>
	        		{% endfor %}
	    		{% endif %}
		    </details>
	    {% endfor %}
	</div>
</body>
</html>
